[submodule "submodule/tinympl"]
	path = submodule/tinympl
	url = git@github.com:sbabbi/tinympl.git
[submodule "submodule/asio"]
	path = submodule/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "submodule/vectorial"]
	path = submodule/vectorial
	url = git@github.com:scoopr/vectorial.git
